.icon-drop {
  font-size: 12px;
}

.btn-close {
  padding: 0px !important;
}

.modal-exercise-name {
  font-size: 22px;
}

.exercise-section .row {
  margin-bottom: 0px !important;
}

.save-icon {
  position: relative;
  bottom: -10px;
  font-size: 20px;
  padding-right: 0px !important;
}

.trash-icon {
  position: relative;
  bottom: -10px;
  font-size: 20px;
  padding-left: 0px !important;
}

.hide-input {
  display: none;
}

.form-btn {
  background: none!important;
  border: none;
  /*padding: 0!important;*/
  /*border is optional*/
  /*border-bottom: 1px solid #444;*/
}
