<div class="home center-align">
  <div class="container-fluid">
    <h3>Welcome {{auth.profile.name}}!</h3>
    <button align="center" class="btn btn-primary" ng-hide="workoutIndicator" ng-click="newWorkout()">Start Workout</button>
    <button class="btn btn-danger" ng-click="endWorkout()" ng-show="workoutIndicator">End Workout</button>
    <!--      <br />
        <button class="btn-sm btn-warning" ng-click="logout()">Logout</button> -->
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s2">
            <input id="reps" type="text" class="validate">
            <label for="reps"><i title="Reps" class="flaticon-gym"></i></label>
          </div>
          <div class="input-field col s2">
            <input id="weight" type="text" class="validate">
            <label for="weight"><i title="Weight" class="flaticon-exercise"></i></label>
          </div>
          <div class="input-field col s2">
            <input id="time" type="text" class="validate">
            <label for="time"><i title="Time" class="fa fa-clock-o" aria-hidden="true"></i></label>
          </div>
          <div class="input-field col s2">
            <input id="distance" type="text" class="validate">
            <label for="distance"><i title="Distance" class="fa fa-map-marker" aria-hidden="true"></i></label>
          </div>
          <div class="input-field col s2">
            <input id="heartRate" type="text" class="validate">
            <label for="heartRate"><i title="Heart Rate" class="fa fa-heartbeat" aria-hidden="true"></i></label>
          </div>
          <div class="input-field col s2">
            <input id="calories" type="text" class="validate">
            <label for="calories"><i title="Calories" class="fa fa-fire" aria-hidden="true"></i></label>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
