<div class="container-fluid">
  <div class="home center-align">
    <h3>Welcome {{auth.profile.name}}!</h3>
    <button align="center" class="btn btn-primary" ng-hide="workoutIndicator" ng-click="newWorkout()">Start Workout</button>
    <button class="btn btn-danger" ng-click="endWorkout()" ng-show="workoutIndicator">End Workout</button>
    <a class="waves-effect waves-light btn modal-trigger" ng-show="workoutIndicator" href="#exerciseModal">Add Exercise</a>
  </div>
  <div class="exercise-section row" ng-repeat="exercise in workoutExercises">
    {{inputWidth(exercise.exerciseId)}}
    <h5 ng-bind="exercise.exerciseName" class="col s12"></h5>
    <div class="set-section row" ng-repeat="set in sets | orderBy:'setId'" ng-if="exercise.exerciseId == set.exerciseId">
      <form ng-submit="saveSetDetails(set)">
        <div class="row">
          <input id="setId{{set.setId}}" type="text" ng-model="set.setId" class="validate" hidden>
          <div class="input-field col set" style="width:{{size}}" ng-class="{'hide-input': exercise.reps == 0}">
            <input id="reps{{set.setId}}" type="text" ng-model="set.reps" class="validate">
            <label for="reps{{set.setId}}"><i title="Reps" class="flaticon-gym"></i></label>
          </div>
          <div class="input-field col set" style="width:{{size}}" ng-class="{'hide-input': exercise.weight == 0}">
            <input id="weight{{set.setId}}" type="text" ng-model="set.weight" class="validate">
            <label for="weight{{set.setId}}"><i title="Weight" class="flaticon-exercise"></i></label>
          </div>
          <div class="input-field col set" style="width:{{size}}" ng-class="{'hide-input': exercise.time == 0}">
            <input id="time{{set.setId}}" type="text" ng-model="set.time" class="validate">
            <label for="time{{set.setId}}"><i title="Time" class="fa fa-clock-o" aria-hidden="true"></i></label>
          </div>
          <div class="input-field col set" style="width:{{size}}" ng-class="{'hide-input': exercise.distance == 0}">
            <input id="distance{{set.setId}}" type="text" ng-model="set.distance" class="validate">
            <label for="distance{{set.setId}}"><i title="Distance" class="fa fa-map-marker" aria-hidden="true"></i></label>
          </div>
          <div class="input-field col set" style="width:{{size}}" ng-class="{'hide-input': exercise.heartRate == 0}">
            <input id="heartRate{{set.setId}}" type="text" ng-model="set.heartRate" class="validate">
            <label for="heartRate{{set.setId}}"><i title="Heart Rate" class="fa fa-heartbeat" aria-hidden="true"></i></label>
          </div>
          <div class="input-field col set" style="width:{{size}}" ng-class="{'hide-input': exercise.calories == 0}">
            <input id="calories{{set.setId}}" type="text" ng-model="set.calories" class="validate">
            <label for="calories{{set.setId}}"><i title="Calories" class="fa fa-fire" aria-hidden="true"></i></label>
          </div>
          <div class="input-field col action-icons">
            &nbsp;
            <i class="fa fa-floppy-o" aria-hidden="true" ng-click="saveSetDetails(set)"></i> &nbsp;
            <i class="fa fa-trash" aria-hidden="true" ng-click="deleteSet(set)"></i>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div id="exerciseModal" class="modal bottom-sheet">
  <div class="modal-content">
    <div class="row">
      <div class="col s11">
        <h4>Add an Exercise</h4>
      </div>
      <div class="col s1">
        <a href="#/" class="modal-action modal-close waves-effect waves-green btn-flat pull-right btn-close"><i class="fa fa-chevron-circle-down" aria-hidden="true"></i></a>
      </div>
    </div>
    <div class="row">
      <input type="text" ng-model="filters.search.exerciseName" placeholder="Search Exercises">
    </div>
    <div class="row" ng-repeat="exercise in exercises | filter:filters.search| orderBy:'exerciseName'">
      <div class=""><a class="btn-floating btn-large waves-effect waves-light red" style="margin-right: 10px" ng-click="addSet(exercise.exerciseID)"><i class="fa fa-plus" aria-hidden="true"></i></a><span class="modal-exercise-name" ng-bind="exercise.exerciseName"></span></div>
    </div>
  </div>
  <!--   <div class="modal-footer">
    <a href="#/" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
  </div> -->
</div>
<script type="text/javascript">
$('.modal-trigger').leanModal({
  dismissible: false, // Modal can be dismissed by clicking outside of the modal
  opacity: .5, // Opacity of modal background
  in_duration: 500, // Transition in duration
  out_duration: 400, // Transition out duration
  ready: function() {}, // Callback for Modal open
  complete: function() {} // Callback for Modal close
});
</script>
