label {
    font-size: 15px !important;
    color: black !important;
}

input {
    border-bottom: 1px solid #2F2868 !important;
}

/*.display {
    position: relative !important;
    left: 0px !important;
    visibility: visible !important;
}
*/
