<div>
  <center>
    <h3>{{header}} Exercises</h3>
    <p>{{directions}}</p>
  </center>
  <form id="exerciseForm" name="exerciseForm" class="container">
    <input type="hidden" ng-model="exercise.socialId" name="socialId">
    <div class="">
      <label class="col-sm-2 left-align" for="exerciseName">Exercise Name</label>
      <div class="col-sm-3">
        <input type="text" ng-model="exercise.exerciseName" name="exerciseName">
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2 left-align" for="exerciseDescription">Exercise Description</label>
      <div class="col-md-3">
        <textarea id="exerciseDescription" ng-model="exercise.exerciseDescription" name="exerciseDescription" class="materialize-textarea" length="250"></textarea>
      </div>
    </div>
    <div class="row center">
      <div class="col s6">
        <div class="form-group">
          <i title="Weight" class="flaticon-exercise"></i>
          <label class="col-md-2 left-align" for="weight">
            Weight
          </label>
          <div class="col-md-3">
            <div class="switch">
              <label>
                <input name="weight" ng-model="exercise.weight" type="checkbox">
                <span class="lever"></span>
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <i title="Reps" class="flaticon-gym"></i>
          <label class="col-md-2 left-align" for="reps">
            Reps
          </label>
          <div class="col-md-3">
            <div class="switch">
              <label>
                <input name="reps" ng-model="exercise.reps" type="checkbox">
                <span class="lever"></span>
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <i title="Time" class="fa fa-clock-o" aria-hidden="true"></i>
          <label class="col-md-2 left-align" for="time">
            Time
          </label>
          <div class="col-md-3">
            <div class="switch">
              <label>
                <input name="time" ng-model="exercise.time" type="checkbox">
                <span class="lever"></span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="col s6">
        <div class="form-group">
          <i title="Distance" class="fa fa-map-marker" aria-hidden="true"></i>
          <label class="col-md-2 left-align" for="distance">
            Distance
          </label>
          <div class="col-md-3">
            <div class="switch">
              <label>
                <input name="distance" ng-model="exercise.distance" type="checkbox">
                <span class="lever"></span>
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <i title="Calories" class="fa fa-fire" aria-hidden="true"></i>
          <label class="col-md-2 left-align" for="calories">
            Calories
          </label>
          <div class="col-md-3">
            <div class="switch">
              <label>
                <input name="calories" ng-model="exercise.calories" type="checkbox">
                <span class="lever"></span>
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <i title="Heart Rate" class="fa fa-heartbeat" aria-hidden="true"></i>
          <label class="col-md-2 left-align" for="heartRate">
            Heart Rate
          </label>
          <div class="col-md-3 ">
            <div class="switch ">
              <label>
                <input name="heartRate" ng-model="exercise.heartRate" type="checkbox">
                <span class="lever"></span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <center>
      <input type="submit" value="{{buttonText}} Exercise" ng-disabled="!count()" class="white-text blue accent-4 btn-large"></input>
    </center>
  </form>
</div>
