#exerciseForm label {
  font-size: 15px !important;
  color: black !important;
}

input:focus {
  border-bottom: 1px solid black !important;
}

input {
  box-shadow: none !important;
}

.list {
  font-size: 30px;
}

.icon {
  font-size: 12px;
}

.tabs {
  overflow-x: hidden;
}

#logoutNav{
  cursor: pointer;
}


/*.display {
    position: relative !important;
    left: 0px !important;
    visibility: visible !important;
}
*/
