<div>
  <center>
    <h3>Exercises</h3>
  </center>
  <div class="container">
    <center>
      <ul class="collection">
        <li class="list collection-item" ng-repeat="exercise in exercises">
          {{exercise.exerciseName}}
          <i ng-if="exercise.weight" title="Weight" class="flaticon-exercise icon"></i>
          <i ng-if="exercise.reps" title="Reps" class="flaticon-gym icon"></i>
          <i ng-if="exercise.time" title="Time" class="fa fa-clock-o icon" aria-hidden="true"></i>
          <i ng-if="exercise.distance" title="Distance" class="fa fa-map-marker icon" aria-hidden="true"></i>
          <i ng-if="exercise.calories" title="Calories" class="fa fa-fire icon" aria-hidden="true"></i>
          <i ng-if="exercise.heartRate" title="Heart Rate" class="fa fa-heartbeat icon" aria-hidden="true"></i>
        </li>
      </ul>
    </center>
  </div>
</div>
