<div>
  <center>
    <h3>Exercises</h3>
  </center>
  <a class="btn-floating btn-large waves-effect waves-light red modal-trigger add-exercise" href="" ng-click="goToForm()"><i class="fa fa-plus material-icons plus-icon" aria-hidden="true"></i></a>
  <div class="container">
    <div class="row">
      <div class="col s12">
        <ul class="tabs">
          <li class="tab col s6"><a class="active" href="/#myExercises">My Exercises</a></li>
          <li class="tab col s6"><a href="/#allExercises">All Exercises</a></li>
        </ul>
      </div>
      <div id="myExercises" class="col s12">
        </br>
        <div class="list collection-item" ng-repeat="exercise in usersExercises">
          <a class="btn-floating btn-large waves-effect waves-light red modal-trigger" ng-click="deleteUserExercise(exercise.exerciseID)">
            <i class="fa fa-minus material-icons plus-icon" aria-hidden="true"></i>
          </a>
          {{exercise.exerciseName}}
          <i ng-if="exercise.weight" title="Weight" class="flaticon-exercise icon"></i>
          <i ng-if="exercise.reps" title="Reps" class="flaticon-gym icon"></i>
          <i ng-if="exercise.time" title="Time" class="fa fa-clock-o icon" aria-hidden="true"></i>
          <i ng-if="exercise.distance" title="Distance" class="fa fa-map-marker icon" aria-hidden="true"></i>
          <i ng-if="exercise.calories" title="Calories" class="fa fa-fire icon" aria-hidden="true"></i>
          <i ng-if="exercise.heartRate" title="Heart Rate" class="fa fa-heartbeat icon" aria-hidden="true"></i>
        </div>
      </div>
      <div id="allExercises" class="col s12">
        </br>
        <div class="list collection-item" ng-repeat="exercise in exercises | notInArray:filterByUsersExercises:'exerciseID'">
          <a class="btn-floating btn-large waves-effect waves-light green modal-trigger" ng-click="addUserExercise(exercise.exerciseID)">
            <i class="fa fa-plus material-icons plus-icon" aria-hidden="true"></i>
          </a>
          {{exercise.exerciseName}}
          <i ng-if="exercise.weight" title="Weight" class="flaticon-exercise icon"></i>
          <i ng-if="exercise.reps" title="Reps" class="flaticon-gym icon"></i>
          <i ng-if="exercise.time" title="Time" class="fa fa-clock-o icon" aria-hidden="true"></i>
          <i ng-if="exercise.distance" title="Distance" class="fa fa-map-marker icon" aria-hidden="true"></i>
          <i ng-if="exercise.calories" title="Calories" class="fa fa-fire icon" aria-hidden="true"></i>
          <i ng-if="exercise.heartRate" title="Heart Rate" class="fa fa-heartbeat icon" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
  $('ul.tabs').tabs();
});
</script>
