#exerciseForm label {
  font-size: 15px !important;
  color: black !important;
}

textarea:focus,
input:focus {
  border-bottom: 1px solid black !important;
}

textarea,
input {
  box-shadow: none !important;
}

.list {
  font-size: 30px;
}

.icon {
  font-size: 12px;
}

.tabs {
  overflow-x: hidden;
}

#logoutNav {
  cursor: pointer;
}

#exerciseForm label {
  color: blue !important;
}

#exerciseForm .row label {
  color: black !important;
}