<link href='https://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
<nav style="background-color:#2F2868; color:white;">
    <ul id="slide-out" class="side-nav" style="background-color: white">
        <label style="align:center; font-family: 'Rock Salt', cursive; font-weight: bold;">
            Buff <img src="../BuffDaddy/images/BuffDaddy.png" style="width:40px" /> Daddy
        </label>
        <li>
            <a href="#">Dashboard</a>
        </li>
        <li>
            <a href="#">Shortcuts</a>
        </li>
        <li>
            <a href="#">Overview</a>
        </li>
        <li>
            <a href="#">Events</a>
        </li>
        <li>
            <a href="#">About</a>
        </li>
        <li>
            <a href="#">Services</a>
        </li>
        <li ng-if="auth.isAuthenticated">
            <img style="width:31px;" src="{{auth.profile.picture}}" />
            <button id="logoutSidebar" class="btn-sm btn-warning" ng-click="logout()">Logout {{auth.profile.name}}</button>
        </li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i ng-if="auth.isAuthenticated" class="mdi-navigation-menu"></i></a>
</nav>
<link rel="stylesheet" type="text/css" href="sidebar/css/materialize.css">
<script type="text/javascript" src="sidebar/js/materialize.js"></script>
<script type="text/javascript">
(function($) {
    $(function() {
        $('.button-collapse').sideNav();
        $('body').on('click', '.button-collapse');
    });
})(jQuery);
</script>
