<link href='https://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
<link href='sidebar/css/sidebar.css' rel='stylesheet' type='text/css'>
<nav style="background-color:#2F2868; color:white;" data-activates="nav-mobile">
  <ul id="slide-out" class="side-nav nav-buffdaddy">
    <label class="sideBar-logo">
      <span>Buff</span> <img src="./images/BuffDaddy.png" style="width: 50px; top: 10px; position: relative;" /> <span>Daddy</span>
    </label>
    <li>
      <a href="#/" ng-click="close()">Home</a>
    </li>
    <li>
      <a href="#/exercise" ng-click="close()">Exercise</a>
    </li>
    <li>
      <a href="#/exercise" ng-click="close()">Past Workouts</a>
    </li>
    <li>
      <a href="#/exercise" ng-click="close()">My Account</a>
    </li>
    <li ng-if="auth.isAuthenticated" id="logoutSidebar" ng-click="logout()">
      <img style="width:31px;top: 10px; position: relative;" ng-if="auth.isAuthenticated" src="{{auth.profile.picture}}" /> Logout
    </li>
  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i ng-if="auth.isAuthenticated" class="mdi-navigation-menu"></i></a>
</nav>
<script type="text/javascript">
(function($) {
  $(function() {
    $('.button-collapse').sideNav();
    $('body').on('click', '.button-collapse');
  });
})(jQuery);
</script>
